{% include 'base.html' %}
{% include 'nav.html' %}
{% load static %}

<body>
    <div class="container-sm" id="cont">
        <div style="margin-top: 60px;">
     <div style=margin: auto; class="row">
          {% for order in object_list %}
            <div style="margin-top:20px" class=" mb-4 ml-0">
                <div class="card shadow bg-light" style="width: 70rem;">
                <div class="card-body">
                  <h5 class="card-title">Estado: {{ order.state.description }}</h5>
                  <p class="card-text">Entregar a: {{ order.client.user.first_name }} {{order.client.user.last_name}}</p>
                  <p class="card-text">Telefono de Contacto: {{ order.client.phone }}</p>
                    <p class="card-text">Metodo de Pago: <b>{{ order.payment_method }}</b>
                      {%if order.is_MP%}
                      <i data-toggle="tooltip" data-placement="right" title="Deberas enviar el link de pago al cliente para que pueda pagarte" class="fa fa-info-circle"></i>
                      {%endif%}
                  </p>
                  <b class="card-text">Total del Pedido: ${{ order.total }}</b>
                </div>
                <ul class="list-group list-group-flush">

                    <li class="list-group-item bg-light">Direccion de Entrega: {{order.address.street}} {{order.address.number}}, {{order.address.district}} {{order.address.floor}}</li>
                    <li class="list-group-item bg-light">Referencia: {{order.address.reference}} </li>
                    <li class="list-group-item bg-light">Punto a entregar en: <a href="https://maps.google.com/?q={{order.location}}">Ver en el Mapa <i class="fa fa-map-marker"></i> </a> </li>
                    <li class="list-group-item bg-light">Recibido: {{order.date|date:"d/m/Y H:i"}}</li>
                </ul>
                 <div class="card-body">
                     Productos Pedidos:
                    <table style="margin-left: 30px" class="table">
                        <thead class="thead-light">
                            <tr>
                              <th scope="col">Nombre</th>
                              <th scope="col">Descripcion</th>
                              <th scope="col">Cantidad</th>
                              <th scope="col">Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in order.products %}
                            <tr>
                                <th> {{item.name}}</th>
                                <th> {{item.description}}</th>
                                <th> {{item.quantity}}</th>
                                <th> ${{item.price}}</th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                 </div>
                <div style="margin:auto" class="row justify-content-md-center">
                    {%if order.is_MP %}
                        {%if not order.is_MeliLink_sent%}
                            <div class="card-body">
                                <a  href='{% url "send-meli-link" pk=order.id %}' class="btn btn-primary">Enviar Link de Pago</a>
                            </div>
                        {%else%}
                            <div class="card-body">
                                <a  href='{% url "update-meli-link" pk=order.id %}' class="btn btn-primary">Ver Link de Pago</a>
                            </div>
                        {%endif%}
                    {%endif%}
                    {%if order.state.description != 'Entregado'%}
                        <div class="card-body">
                            <a  href='{% url "next-state" pk=order.id %}' class="btn btn-success">{{order.next_state}}</a>
                        </div>
                    {%endif%}
                    {%if order.state.description == 'Pendiente'%}
                        <div class="card-body">
                            <a  href='{% url "cancel-order" pk=order.id %}' class="btn btn-danger">Cancelar Pedido</a>
                        </div>
                    {%endif%}
                </div>
            </div>
            {% empty %}
                <div class="card shadow bg-light" style="width: 70rem;">
                    <div class="card-body">
                      <h5 class="card-title">Nada por aqui :(</h5>
                      <p class="card-text">Te avisaremos si hay algo nuevo</p>
                      <img style="wight:150px; height:150px" src="https://thypix.com/wp-content/uploads/sad-cat-71-600x600.jpg" >
                    </div>
                </div>
         {% endfor %}
     </div>

 {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a class="btn btn-primary" href="/order?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                <span class="page-current">
                    Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a class="btn btn-primary" href="/order?page={{ page_obj.next_page_number }}">Siguiente</a>
                {% endif %}
            </span>
        </div>
 {% endif %}
        </div>
    </body>
    <script type="text/javascript">
           var orders_len = "{{orders_len}}";
           var ajax_active = {{ajax_active}};
    $( document ).ready(function () {
        $('[data-toggle="tooltip"]').tooltip()

        if (ajax_active == 'true'){
            setInterval(call,20000); //TODO: Replace with an enviroment variable
        }
    });

    function call() {
        var request = $.ajax({
            url: "http://localhost:8000/order_ajax",
            method: "GET",
            dataType: "html"
        });

    request.done(function( msg ) {
        if(parseInt(orders_len) < parseInt(msg)){
            location.reload();
        }
    });

    request.fail(function( jqXHR, textStatus ) {
        alert( "Request failed: " + textStatus );
    });
}
    </script>
</html>
