{% include 'base.html' %}
{% include 'nav.html' %}
{% load static %}
<body>
<div class="container-sm" id="cont">
	  <div class="alert alert-success" style="margin-top:20px" role="alert">
        <p>Gracias por usar Delivery Lavalle, no olvides pagar entre el 1 y 10 de cada mes para seguir usando el servicio</p>
        <p>Aceptamos Débito, o Crédito a través de Mercado Pago</p>
        <hr>
        <p class="mb-0">Cualquier cosa que necesites, contactame a axel.fernandez0145@gmail.com.</p>
    </div>
	<div class="row">
		<div class="col-12">
			<table class="table table-hover">
			  <thead>
				<tr>
				  <th scope="col">Periodo</th>
				  <th scope="col">Monto</th>
				  <th scope="col">Estado</th>
				  <th scope="col"></th>

				</tr>
			  </thead>
			  <tbody>
			  {% for payment in object_list %}
				<tr>
					<td>{{payment.period}}</td>
					<td>${{payment.mount}}</td>
					{%if payment.payment_status == 'Pendiente'%}
						<td class="btn-warning">{{payment.payment_status}}</td>
					{%else%}
						<td class="center btn-success">{{payment.payment_status}}</td>
					{%endif%}
					<td><a class="btn btn-info" href="{% url 'periods-detail' payment.pk %}">Ver Detalles o Pagar</a></td>
				</tr>
			  {% endfor %}
			  </tbody>
			</table>
		</div>
	  </div>

 {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a class="btn btn-primary" href="/sales?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                <span class="page-current">
                    Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a class="btn btn-primary" href="/sales?page={{ page_obj.next_page_number }}">Siguiente</a>
                {% endif %}
            </span>
        </div>
 {% endif %}
</div>
</body>
