{% include 'base.html' %}
{% include 'nav.html' %}
{% load static %}

<body>
<div class="container-sm" id="cont">
    <div class="card" style="margin-top: 60px;">
           <a class="btn btn-success" href="{% url 'create-products'%}">Crear Producto</a>
       <div class="container">
  <div class="row">
    <div class="col-12">
		<table class="table table-image">
		  <thead>
		    <tr>
		      <th scope="col">Foto</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Descripcion</th>
		      <th scope="col">Precio</th>
		      <th scope="col">Categoria</th>
		      <th scope="col">Tenes Stock?</th>
		      <th scope="col"></th>
		      <th scope="col"></th>
		    </tr>
		  </thead>
		  <tbody>
          {% for product in object_list %}
		    <tr>
		      <td>
			      <img style="width:100px; height:100px;" src="{{product.photo.url}}" class="img-fluid img-thumbnail">
		      </td>
				<td>{{product.name}}</td>
				<td>{{product.description}}</td>
				<td>${{product.price}}</td>
				<td>{{product.category}}</td>
		      <td class="justify-content">
				  <form method="POST" class="form-grid" action='{% url "change-stock-status" pk=product.id %}'>
                    {% csrf_token %}
                    {% if product.is_available == "SI" %}
                    <button type="submit" name='active' class="btn btn-success" value="deactivate">Si</button>
                    {% else %}
                    <button type="submit" name='active' class="btn btn-danger" value="activate">No</button>
                    {% endif %}
                    </form>
			  </td>
		      <td><a class="btn btn-warning" href='{% url "product-edit" pk=product.id %}'>Editar</a></td>
		      <td><a class="btn btn-danger" href='{% url "product-delete" pk=product.id %}'>Eliminar</a></td>

		    </tr>
          {% endfor %}

		  </tbody>
		</table>
    </div>
  </div>
</div>
    </div>

 {% if is_paginated %}
	<br>
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a class="btn btn-primary" href="/products?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                <span class="page-current">
                    Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a class="btn btn-primary" href="/products?page={{ page_obj.next_page_number }}">Siguiente</a>
                {% endif %}
            </span>
        </div>
 {% endif %}
</body>
</html>
