{% include 'base.html' %}
{% include 'nav.html' %}
{% load static %}


<body>


<div  class="container-sm">

    <div class="alert alert-success" style="margin-top:20px" role="alert">
        <h4 class="alert-heading">Bienvenido al Tutorial de Link de Pagos con Mercadopago!</h4>
        <p>Comenzaremos registrandonos si aun no lo has hecho</p>
        <p>Si ya tenes cuenta, solo ingresa con tu email y tu contraseña</p>
        <hr>
        <p>Desplazate hacia abajo para seguir leyendo</p>

    </div>
    <img class="" style="width:700px; height:350px;" src="{% static 'images/link_01.png'%}"/>
    <hr>
    <br>
    <div class="alert alert-success" style="margin-top:20px" role="alert">
        <p>Paso 2</p>
        <p>En la barra de la izquierda debes seleccionar Link de Pago </p>
    </div>
    <img class="" style="width:500px; height:450px;" src="{% static 'images/link_02.png'%}"/>
    <hr>
    <br>
    <div class="alert alert-success" style="margin-top:20px" role="alert">
        <p>Paso 3</p>
        <p>Ahora Comenzaremos a crear el Link de Pago, clickea en continuar </p>
    </div>
    <img class="" style="width:700px; height:350px;" src="{% static 'images/link_03.png'%}"/>
    <hr>
    <br>
    <div class="alert alert-success" style="margin-top:20px" role="alert">
        <p>Paso 4</p>
        <p>Aca decidimos en que momento decidimos tener el dinero disponible. </p>
        <p>Esta decision difiere de las comisiones que cobra Mercadopago por el uso de su plataforma. </p>
        <hr>
        <p>Estas comisiones no incluyen las comisiones de Delivery Lavalle (4%) </p>
    </div>
    <img class="" style="width:700px; height:350px;" src="{% static 'images/link_04.png'%}"/>
    <hr>
    <br>
    <div class="alert alert-success" style="margin-top:20px" role="alert">
        <p>Paso 5</p>
        <p>Seleccionamos la opcion que deseemos </p>
    </div>
    <img class="" style="width:400px; height:350px;" src="{% static 'images/link_05.png'%}"/>
    <hr>
    <br>
    <div class="alert alert-success" style="margin-top:20px" role="alert">
        <p>Paso 6</p>
        <p>Rellenamos los campos que nos requiere para continuar </p>
        <p>Solo con rellenar el nombre del producto y Precio será suficiente </p>
    </div>
    <img class="" style="width:700px; height:350px;" src="{% static 'images/link_06.png'%}"/>
    <hr>
    <br>
    <div class="alert alert-success" style="margin-top:20px" role="alert">
        <p>Paso 7</p>
        <p>Listo! Copia este Link y pegalo para que puedas cobrar por el producto!</p>
    </div>
    <img class="" style="width:700px; height:350px;" src="{% static 'images/link_07.png'%}"/>

</div>

</body>