<div class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand">Delivery Lavalle</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Pedidos Actualies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Configuracion de Mi Compañia</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
             <a class="nav-link" style="text-align:center;" href="#">Bienvenido {{user.get_full_name}}</a>
        </li>
    </ul>


</div>